body {
    font-size: 100%;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #d1d1d1;
}

.text_uppercase{
    text-transform: uppercase;
}

.text_normal{
    text-transform: none;
}

.wrapper {
    width: 100%;
    max-width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    height: 100%;
}

.keyboard {
    display: flex;
    flex-direction: column;
    border: 1px solid #423c3c;
    border-radius: 0.5rem;
    background-color: gainsboro;
    margin-top: 40%;
}

.button {
    width: 6%;
    height: 3rem;
    background: #d1d1d1;
    border: 2px solid #464646;
    border-radius: 0.3rem;
    margin: 0.1rem;
    transition: all 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button:hover {
    background: #4d4d2d;
    color: #e5ffcc;
}

.button:active,
.button-wide:active,
.button-space:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background: #4d4d2d;
    color: #e5ffcc;
}

.button_overlay.hide {
    opacity: 0;
    z-index: -1;
}

.button_overlay {
    position: absolute;
    opacity: 1;
    z-index: 1;
    transition: opacity .3s linear;
}